<!DOCTYPE html>
<html>
<head>
    <title>Create Task</title>
</head>

<body>

    <h1>Create Task</h1>

    <h2>
        Project: {{ project["project_name"] }}
    </h2>

    <form method="POST">

        <label>Task Name:</label><br>

        <input
            type="text"
            name="task_name"
            required
        >

        <br><br>

        <label>Description:</label><br>

        <textarea
            name="description"
            rows="5"
            cols="40"
        ></textarea>

        <br><br>

        <label>Assign To:</label><br>

        <select name="assigned_to">

            <option value="">
                Not Assigned
            </option>

            {% for member in members %}

                <option value="{{ member['id'] }}">

                    {{ member["name"] }}
                    -
                    {{ member["email"] }}

                </option>

            {% endfor %}

        </select>

        <br><br>

        <label>Due Date:</label><br>

        <input
            type="date"
            name="due_date"
        >

        <br><br>

        <button type="submit">
            Create Task
        </button>

    </form>

</body>
</html>